:root{
    --grayWhite: #D8DEE9;
    --mainColor: #2E3440;
    --accent1: #3B4252;
    --accent2: #4C566A;
}

body{
    background: var(--mainColor);
    font-family: "Courier New";
}

#name{
    font-size: 40px;
    color: #D8DEE9;
    text-align: center;
}

.list{
    font-size: 20px;
    word-wrap: normal;
}

.hobbyBlock{
    background: var(--accent1);
    width: 300px;
    height: 200px;
    padding: 5px;
    padding-bottom: 40px;
}

h3{
    text-align: center;
    color: var(--grayWhite)
}

a:visited{
    color: #B48EAD
}

.goalBlock{
    background: var(--accent2);
    padding: 5px;
}

.bambooImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 100px;
    object-fit:cover;
}

#bambooBottom{
    position: fixed;
    bottom: 10px;
}