:root{
    --grayWhite: #D8DEE9;
    --mainColor: #2E3440;
    --accent1: #3B4252;
    --accent2: #4C566A;
}

body{
    background: var(--mainColor);
    font-family: "Courier New";
}

#name{
    font-size: 40px;
    color: #D8DEE9;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list{
    font-size: 20px;
    word-wrap: normal;
}

.col1, .col2{
    width:50%;
}

.col1{
    background: var(--accent1);
}

.col2{
    background: var(--accent2);
}

#infoTable{
    width: 100%;
}

h3{
    text-align: center;
    color: var(--grayWhite)
}

a:visited{
    color: #B48EAD
}

.bambooImg{
    display: block;
    margin-left: 10;
    margin-right: 10;
    width: 100%;
    height: 100px;
    object-fit:cover;
    border-radius: 10px;

}