:root{
    --textTitle: #CE1988;
    --textBody: #8BF5B2;
    --textHeader: #0BD1F7;
    --mainColor: #262133;
    --accent1: #1C1625;
    --accent2: #1b1327;
    --linkUnvisited: #F3D87B;
    --linkVisited: #b34eb3;
}

body{
    background: var(--mainColor);
    font-family: "Audiowide", sans-serif;
    font-variant: small-caps;
    color: var(--textBody);
}

#name{
    font-size: 40pt;
    font-weight: bold;
    color: var(--textTitle);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.list{
    font-size: 14pt;
    word-wrap: normal;
}

.col1, .col2{
    width: 50%;
}

.col1{
    background: var(--accent1);
}

.col2{
    background: var(--accent2);
}

#infoTable{
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

th{
    text-align: center;
    color: var(--textHeader);
    font-size: 18pt;
}

li {
    padding-block: 10px;
}

ol{
    padding-left: 60px;
}

td, th {
    outline-color: var(--linkUnvisited);
    outline-style: solid;
    outline-width: 2px;
}

a:link{
    color: var(--linkUnvisited)
}

a:visited{
    color: var(--linkVisited)
}

.bambooImg{
    display: block;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 100px;
    object-fit:cover;
    border-radius: 5px;
    outline-style: solid;
    outline-color: var(--linkUnvisited);
    outline-width: 2px;
}